*,
.h3,
.h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
}
.container {
  height: 90%;
  width: 100%;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0.5em;
}

.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 0 0;
  margin: 0 0 2em 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text p {
  font-weight: 800;
}

/* *CONTENT */
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  border: 2px solid #000;
}
.left-content {
  border-right: 2px solid #000;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.title {
  margin: 0.5em 0;
  text-align: center;
}

.right-content {
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
}
input {
  background: transparent;
}

.right-content .header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0 0 0;
}

.right-content p {
  margin: 2.5em 2em;
  font-weight: 800;
}
.right-content .p {
  margin: 0 2em;
}

.right-content .indention {
  text-indent: 50px;
}
.right-content .field-form {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-weight: 800;
}

.right-content .right-content-sign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5em 2em 0 2em;
}

.right-content .right-content-sign p {
  margin: 0 3em 0 0;
}

.right-content h3 {
  margin: 0 2em;
}

.right-content .bottom-p {
  margin: 0 0 0 5em;
}

.print-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
}

.print-button {
  background-color: #555555;
  color: #fff;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* *BUSINESS --------------------------------------------------------------------------------------------------------- */
.business-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.3em;
}
.business-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em;
}
li {
  font-weight: 800;
}
.pb {
  margin: 0.5em 0 0 0;
}
.bi {
  width: 5rem;
  margin: auto;
}
ul {
  margin: 0 5em;
}

/* *CLEARANCE --------------------------------------------------------------------------------------------------------- */
.clearance-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  margin: auto;
}

.clearance-column {
  display: flex;
  flex-direction: column;
}

/* @media print {
  @page {
    size: A3;
  }
}
 */
